[Unit]
Description=Combine several LV2 plugin into part of Jack connection graph but load no plugins per se
Wants=mkcong@%i.service
DefaultDependencies=No

[Service]
Type=simple
EnvironmentFile=/etc/environment.d/99-oslp.conf
ExecStart=/bin/sleep inf
ExecStopPost=sh -c 'systemctl kill `systemctl show %n | grep ^Requires= | cut -d'=' -f 2`'
