[Unit]
Description=Combine several LV2 plugin into part of Jack connection graph but load no plugins per se
Wants=ajsnap@%i.service
Wants=cleanup@%i.service
Wants=sgwait@%i.service
DefaultDependencies=No

[Service]
Type=simple
ExecStart=/bin/sleep inf

