[Unit]
Description=Run a LV2 plugin as part of Jack connection graph e. g. synth@zyn.service
Requires=pipersist@%i.in.service 
Wants=mkconn@%i.service
After=pipersist@%i.in.service
DefaultDependencies=No

[Service]
Type=simple
EnvironmentFile=/etc/environment.d/99-oslp.conf
ExecStart=/usr/bin/runjalv "$OSLP_JSON_PATH" "%i.json"
ExecStop=sh -c 'systemctl stop `systemctl show %n | grep ^Requires= | cut -d'=' -f 2`'
ExecStopPost=systemctl kill pipersist@%i.in.service
